/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background: url("https://vistapointe.net/images/gradient-8.jpg"),
    url("https://i.pinimg.com/736x/c4/1d/c4/c41dc46c775c076156cf2c28e9b3a62c--free-stock-photo-stock-photos.jpg")
      no-repeat,
    aliceblue;
  background-size: cover;
}

h1 {
  font-style: italic;
  color: #3f51b5;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

fieldset {
  border: groove 2px #3f51b5;
}

input {
  text-align: center;
}
input[type="text"] {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

.settingsBlock {
  display: flex;
  width: fit-content;
  background-color: hsla(210, 100%, 90%, 0.9);
}

label {
  display: flex;
  justify-content: space-between;
  /*width: 60%;*/
}

button {
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: hsla(0, 100%, 0%, 0.1) 1px 1px 3px 1px;
  cursor: pointer;
}

button:hover {
  background-color: #303f9f;
}

button:focus,
button:active {
  background-color: cyan;
  outline: none;
}

.clear-btn {
  background-color: #f50057;
}

.clear-btn:hover {
  background-color: #c51162;
}

.clear-btn:focus,
.clear-btn:active {
  background-color: hotpink;
}

a {
  color: #3f51b5;
}

a:hover {
  color: #303f9f;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

.counter {
  width: fit-content;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  background-color: hsla(210, 100%, 90%, 0.9);
}

.generate {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-flow: wrap column;
  width: 300px;
  border: blue thin solid;
  background-color: hsla(210, 100%, 90%, 0.9);
}

.generate button {
  margin: 10px;
  border-radius: 24px;
  padding: 10px;
  /*color: #fff;
    background-color: #3f51b5;*/
}

.tabs {
  width: 300px;
}
.tabs .tab {
  display: inline-block;
  width: 50%;
  padding: 10px;
  border: blue thin solid;
  font-size: 18px;
  text-align: center;
  background: steelblue;
  color: white;
}

.tabs .tab:hover {
  background: cornflowerblue;
}

.tabs .tab:last-child {
  border-left: none;
  border-right: blue thin solid;
}

.tabs .active {
  color: steelblue;
  background: ghostwhite;
}

.tabs .active:hover {
  color: ghostwhite;
}

.board {
  display: grid;
  width: fit-content;
  border: #3f51b5 thick solid;
}

.cell {
  border: blue thin solid;
}

.purple .exist {
  background: purple;
}

.cyan .exist {
  background: cyan;
}

.green .exist {
  background: green;
}

.lime .exist {
  background: lime;
}

.orange .exist {
  background: orange;
}

.orchid .exist {
  background: orchid;
}

.crimson .exist {
  background: crimson;
}
